.flip-y-180
{
    transform: rotateY(180deg);
}
@font-face
{
	font-family: Meanwhile;
	src: url(../fonts/Meanwhile.ttf);
}
*
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	font-family: Verdana;
	background-repeat: no-repeat;
}

/*ABSOLUTE MAX*/
.absolute-max
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: auto 100%;
	background-repeat: no-repeat;	
}
/*TRANSITIONS*/

.transition-5s
{
	-ms-transition: all 5s;
	-webkit-transition: all 5s;
	-moz-transition: all 5s;
	-o-transition: all 5s;
	transition: all 5s;
}

.transition-2s
{
	-ms-transition: all 2s;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}

.transition-1s
{
	-ms-transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.transition-0-5s
{
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.box-shadow-white
{
	box-shadow: 0vmin 0vmin 5px 5px white;
	-moz-box-shadow: 0% 0% 2% 2% white;
	-o-box-shadow: 0% 0% 2% 2% white;
	-webkit-box-shadow: 0% 0% 2% 2% white;
	-ms-box-shadow: 0% 0% 2% 2% white;
}

.box-shadow-black
{
	box-shadow: 0vmin 0vmin 5px 5px black;
	-moz-box-shadow: 0% 0% 2% 2% black;
	-o-box-shadow: 0% 0% 2% 2% black;
	-webkit-box-shadow: 0% 0% 2% 2% black;
	-ms-box-shadow: 0% 0% 2% 2% black;
}

/*Z-INDEX*/

.z-one { z-index: 1;} 
.z-two { z-index: 2;}
.z-three { z-index: 3;}
.z-four { z-index: 4;}
.z-five { z-index: 5;}
.z-six { z-index: 6;} 
.z-seven { z-index: 7;}
.z-eight { z-index: 8;}
.z-nine { z-index: 9;}
.z-ten { z-index: 10;}

/*BORDER BOX*/

.border-box
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

/*BLACK SKIN*/

/*BLACK SKIN*/

.black-skin
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: black; 
	opacity: 0.7;
	z-index: 10;
}

.next-button, .start-button, .correct, .keep-thinking, .result
{
	border-radius: 50%;
	z-index: 11;
	width: 20%;
	height: 40%;
	position: absolute;
	left: 40%;
	top: 30%;
	background-color: white;
	color: black;
	font-family: Verdana;
	font-size: 3vmin;
	text-align: center;
	padding-top: 8.5%;	
}

.next-button:hover, .start-button:hover, .result:hover
{
	color: white;
	background-color: black;
}

.home-button
{
	width: 13%;
	height: 7%;
	background-color: white;
	border-radius: 2vmin;
	border: 3px solid black;
	position: absolute;
	left: 82%;
	top: 91%;
	font-family: century gothic;
	font-size: 2vmax;
	padding: 0.5%;
	text-align: center;
}

.home-button:hover
{
	color: white;
	background-color: black;
}

/*PRE LOAD*/

#pre-load
{
	background-color: #DCDCDC;
}

#pre-load .pre-load-image
{
	background-image: url(../pics/pre-loader.png);
	background-size: auto 100%;
	background-position: 0% 0%;
	width: 0%;
	height: 100%;
	position: absolute;
}

/*GLOBAL AND MENU*/

body
{
	position: absolute;
	margin: 0%;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
	max-height: 100%;
}

#main
{
	position: absolute;
	width: 100%;
	height: 100%;
}

.frame
{
	width: 100%;
	height: 100%;
	position: absolute;
	-ms-transition: all 2s;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
	background-size: 100% 100%;
}

/*AWARD*/
.award
{
	width: 50%;
	height: 50%;
	position: absolute;
	left: 25%;
	top: 25%;
	background-color: black;
	border: 3px solid white;
	border-radius: 2vmin;
	z-index: 11;
}

.award-text
{
	font-family: century gothic;
	font-size: 3vmin;
	color: white;
	text-align: center;
	width: 100%;
	height: 20%;
	padding: 2%;
}

.award-pic
{
	width: 100%;
	height: 80%;
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../pics/golden-man.png);
}

/*FRAME 000*/

#frame-000
{
	background-image: url(../pics/s0-bg.png);
}

#frame-000 .blue_area
{
	background: transparent url('../pics/s0-blue_area.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 39.85%;
	top: 63.1%;
	width: 24.95%;
	height: 9.7%;
}

#frame-000 .orange_area
{
	background: transparent url('../pics/s0-orange_area.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 39.4%;
	top: 48.5%;
	width: 33.3%;
	height: 10.5%;
}

#frame-000 .pink_area
{
	background: transparent url('../pics/s0-pink_area.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 38.85%;
	top: 36.4%;
	width: 17.45%;
	height: 9.3%;
}

#frame-000 .green_area
{
	background: transparent url('../pics/s0-green_area.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 39.35%;
	top: 21.6%;
	width: 52.65%;
	height: 10.5%;
}

#frame-000 .area
{
	padding: 1%;
	font-size: 2vmax;
	color: white;
	font-style: italic;
}
#frame-000 .area:hover
{
	font-weight: bold;
	font-style: underlined;
}

/*O2*/

.o2
{
	background: transparent url('../pics/O2.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 39.4%;
	top: 0%;
	width: 20.85%;
	height: 23.4%;
	z-index: 8;
}

.o2-pointer
{
	background: transparent url('../pics/o2-pointer.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 46%;
	top: 8%;
	-ms-transform: rotate(-75deg); /* IE 9 */
    -webkit-transform: rotate(-75deg); /* Chrome, Safari, Opera */
    transform: rotate(-75deg);
	width: 8%;
	height: 80%;
	z-index: 8;
}

/*FRAME 101*/

#frame-101 
{
	background-image: url(../pics/s1-bg.png);
}

#frame-101 .text-container
{
	width: 40%;
	height: 30%;
	color: #94E4B5;
	padding: 3%;
}

.next-frame-button
{
	width: 20%;
	height: 20%;
	background-color: transparent;
	background-image: url(../pics/start-button.png);
	background-size: 100% 100%;
	left: 40%;
	top: 45%;
	position: absolute;
	z-index: 12;
}

.next-frame-button:hover
{
	background-image: url(../pics/start-button-pressed.png);
}

/*FRAME 102*/

#frame-102
{
	background-image: url(../pics/s2-bg.png);
}

#frame-102 .ship
{
	background-image: url(../pics/ship.png);
}

/*FRAME 103*/

#frame-103
{
	background-image: url(../pics/s3-bg.png);
}

#frame-103 .word-rus, #frame-103 .word-eng, #frame-103 .word-kaz
{
	color: white;
	font-size: 1.5vmax;
	width: 17%;
	height: auto;
}

#frame-103 .word-kaz
{
	position: relative;
	left: 45%;
	top: 20%;
}

#frame-103 .word-rus
{
	position: relative;
	left: 9%;
	top: 18%;
}

#frame-103 .word-eng
{
	position: relative;
	left: 78%;
	top: 15%;
}

/*FRAME 104*/

#frame-104
{
	background-image: url(../pics/s4-bg.png);
}

#frame-104 .labels
{
	background-image: url(../pics/s4-labels.png);
}

#frame-104 .oblako_med{
	background: transparent url('../pics/oblako_med.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 22.85%;
	top: 64.3%;
	width: 21.2%;
	height: 28.9%;
}

#frame-104 .oblako_salt{
	background: transparent url('../pics/oblako_salt.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 70.45%;
	top: 14.5%;
	width: 23.55%;
	height: 29.4%;
}

#frame-104 .oblako_brilliant{
	background: transparent url('../pics/oblako_brilliant.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 15%;
	top: 17.4%;
	width: 31.05%;
	height: 29%;
}

#frame-104 .oblako_voda{
	background: transparent url('../pics/oblako_voda.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 65.85%;
	top: 64.6%;
	width: 25.35%;
	height: 26.3%;
}

/*FRAME 105*/

#frame-105
{
	background-image: url(../pics/s5-bg.png);
}

#frame-105 .label 
{
	width: 55%;
	height: 50%;
	position: absolute;
	padding: 1.3%;
	left: 0%;
	top: 25%;
	font-size: 2.3vmax;
	background-size: 100% 100%;
	color: white;
}	

#frame-105 .label-image
{
	background-image: url(../pics/s5-label.png);
}

#frame-105 .portrait
{
	background: transparent url('../pics/portrait.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 58.95%;
	top: 24.1%;
	width: 27.25%;
	height: 71.9%;
}

/*FRAME 106*/

#frame-106
{
	background-image: url(../pics/s6-bg.png);
}

#frame-106 .s6-stroenie
{
	background: transparent url('../pics/s6-stroenie.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 59.7%;
	top: 3.5%;
	width: 23.75%;
	height: 58.5%;
}

#frame-106 .s6-stroenie .electrons
{
	background-image: url(../pics/s6-electrons-sprite.png);
}

/*FRAME 107*/

#frame-107
{
	background-image: url(../pics/s5-bg.png);
}

#frame-107 .K{
	background: transparent url('../pics/K.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 54.35%;
	top: 30.5%;
	width: 34.05%;
	height: 67.5%;
}

#frame-107 .Fe
{
	background: transparent url('../pics/Fe.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 15.5%;
	top: 30.5%;
	width: 35.4%;
	height: 67.5%;
}

#frame-107 .O
{
	background: transparent url('../pics/O.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 76.05%;
	top: 2.3%;
	width: 20.65%;
	height: 36.7%;
}

#frame-107 .Li
{
	background: transparent url('../pics/Li.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 4.15%;
	top: 3.5%;
	width: 18.5%;
	height: 33.6%;
}

/*FRAME 108*/

#frame-108
{
	background-image: url(../pics/s5-bg.png);
}

#frame-108 .K
{
	background: transparent url('../pics/s8-K.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 3.25%;
	top: 28.1%;
	width: 36.3%;
	height: 44.2%;
}

#frame-108 .nucleon-number
{
	background-image: url(../pics/s8-nucleon-number.png);
}

#frame-108 .nucleon-number .label
{ 
	left: 55%;
	top: 40%;
	width: 30%;
	height: 10%;
	position: absolute;
	padding: 1.5%;
	font-size: 2vmax;
	color: white;
}

#frame-108 .area
{
	background: transparent url('../pics/area.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 44.1%;
	top: 26.1%;
	width: 53.3%;
	height: 53.5%;
	color: white;
	padding: 3%;
	font-size: 1.5vmax;
}

/*FRAME 109*/

#frame-109
{
	background-image: url(../pics/s9-bg.png);
}

#frame-109 .periodic-table, #frame-113 .periodic-table, #frame-117 .periodic-table, #frame-121 .periodic-table, #frame-124 .periodic-table
{
	background-image: url(../pics/periodic-table.png);
	z-index: 5;
}

#frame-109 .help-button, #frame-113 .help-button
{
	position: absolute;
	text-align: center;
	font-size: 1.5vmax;
	width: 3%;
	height: 6%;
	padding: 0.3%;
	left: 90%;
	top: 50%;
	background-color: white;
	color: black;
	border: 1px solid white;
	border-radius: 50%;
	z-index: 6;
	cursor: pointer;
}

#frame-117 .help-button, #frame-121 .help-button, #frame-124 .help-button
{
	position: absolute;
	text-align: center;
	font-size: 1.5vmax;
	width: 3%;
	height: 6%;
	padding: 0.3%;
	left: 90%;
	top: 80%;
	background-color: white;
	color: black;
	border: 1px solid white;
	border-radius: 50%;
	z-index: 6;
	cursor: pointer;
}

#frame-109 .help-button:hover, #frame-113 .help-button:hover, 
#frame-117 .help-button:hover, #frame-121 .help-button:hover,
#frame-124 .help-button:hover
{
	background-color: black;
	color: white;
}

#frame-109 .task
{
	position: absolute;
	text-align: center;
	font-size: 1.5vmax;
	width: 40%;
	min-height: 30%;
	left: 29%;
	top: 28%;
	color: white;
}

#frame-109 .task
{
	position: absolute;
	text-align: center;
	font-size: 1.5vmax;
	width: 40%;
	min-height: 30%;
	left: 29%;
	top: 28%;
	color: white;
}

#frame-109 .text
{
	position: absolute;
	font-size: 1.5vmax;
	width: 40%;
	min-height: 30%;
	left: 29%;
	top: 28%;
	color: white;
}

#frame-109 .hint
{
	position: absolute;
	font-size: 3vmax;
	width: 40%;
	min-height: 30%;
	text-align: center;
	text-shadow: 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white;
	left: 29%;
	top: 20%;
	color: #C2B240;
	z-index: 4;
}

#frame-109 .text .basket
{
	position: relative;
	border-bottom: 1px solid white;
	width: 30%;
	max-height: 2vmax;
	min-height: 2vmax;
	display: inline-block;
	font-size: 1.1vmax;
	padding: 0.5%;
}

#frame-109 .ball
{
	color: #149545;
	position: absolute;
	font-size: 1.5vmax;
	font-weight: bold;
	z-index: 3;
}

#frame-109 .ball-1 { left: 30%; top: 15%;}
#frame-109 .ball-2 { left: 23%; top: 20%;}
#frame-109 .ball-3 { left: 20%; top: 30%;}
#frame-109 .ball-4 { left: 22%; top: 40%;}
#frame-109 .ball-5 { left: 20%; top: 50%;}
#frame-109 .ball-6 { left: 23%; top: 60%;}
#frame-109 .ball-7 { left: 24%; top: 70%;}
#frame-109 .ball-8 { left: 30%; top: 65%;}
#frame-109 .ball-9 { left: 38%; top: 70%;}
#frame-109 .ball-10 { left: 40%; top: 60%;}
#frame-109 .ball-11{ left: 50%; top: 65%;}
#frame-109 .ball-12 { left: 60%; top: 70%;}
#frame-109 .ball-13 { left: 70%; top: 60%;}
#frame-109 .ball-14 { left: 72%; top: 50%;}
#frame-109 .ball-15 { left: 71%; top: 40%;}
#frame-109 .ball-16 { left: 70%; top: 30%;}

/*FRAME 113*/

#frame-113
{
	background-image: url(../pics/s13-bg.png);
}

#frame-113 .text
{
	background: transparent url('../pics/s13-text-bg.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 0.9%;
	top: 1.2%;
	width: 47.35%;
	min-height: 28.4%;
	color: #6E8E9A;
	padding: 1%;
	padding-right: 7%;
	font-size: 1.2vmax;
}

#frame-113 .task
{
	color: white;
	font-size: 1.3vmax;
	position: absolute;
	left: 17.75%;
	top: 26.8%;
	width: 69.8%;
	height: 7.3%;
	padding: 1%;
	padding-left: 6%;
	font-size: 1.2vmax;
}

#frame-113 .blank
{
	background-image: url(../pics/s13-blank.png);
}

#frame-113 .ball
{
	border-radius: 50%;
	z-index: 2;
}

#frame-113 .basket
{
	z-index: 2;
}

#frame-113 .basket-1
{
	border-radius: 50%;
	width: 5.5%;
	height: 11%;
	position: absolute;
	left: 41%;
	top: 46%;
}

#frame-113 .basket-2
{
	border-radius: 50%;
	width: 5.5%;
	height: 11%;
	position: absolute;
	left: 59.1%;
	top: 46%;
}

#frame-113 .basket-3
{
	border-radius: 50%;
	width: 6%;
	height: 12%;
	position: absolute;
	left: 77%;
	top: 45%;
}

#frame-113 .proton-2
{
	background: transparent url('../pics/proton.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 16.3%;
	top: 57.3%;
	width: 1.35%;
	height: 2.8%;
}

#frame-113 .proton-3
{
	background: transparent url('../pics/proton.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 9.2%;
	top: 57.9%;
	width: 1.35%;
	height: 2.8%;
}

#frame-113 .proton-4
{
	background: transparent url('../pics/proton.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 11.9%;
	top: 58.5%;
	width: 1.35%;
	height: 2.8%;
}

#frame-113 .proton-5
{
	background: transparent url('../pics/proton.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 14.3%;
	top: 57.7%;
	width: 1.35%;
	height: 2.8%;
}

#frame-113 .proton-6
{
	background: transparent url('../pics/proton.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 11.9%;
	top: 54.5%;
	width: 1.35%;
	height: 2.8%;
}

#frame-113 .proton-7
{
	background: transparent url('../pics/proton.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 9.15%;
	top: 54.1%;
	width: 1.35%;
	height: 2.8%;
}

#frame-113 .neutron-2
{
	background: transparent url('../pics/neutron.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 29.35%;
	top: 56.9%;
	width: 1.35%;
	height: 2.7%;
}

#frame-113 .neutron-3
{
	background: transparent url('../pics/neutron.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 26.8%;
	top: 56.7%;
	width: 1.35%;
	height: 2.7%;
}

#frame-113 .neutron-4
{
	background: transparent url('../pics/neutron.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 22.1%;
	top: 56.3%;
	width: 1.35%;
	height: 2.7%;
}

#frame-113 .neutron-5
{
	background: transparent url('../pics/neutron.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 22.1%;
	top: 50.8%;
	width: 1.35%;
	height: 2.7%;
}

#frame-113 .neutron-6
{
	background: transparent url('../pics/neutron.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 23.45%;
	top: 47.2%;
	width: 1.35%;
	height: 2.7%;
}

#frame-113 .neutron-7
{
	background: transparent url('../pics/neutron.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 24.4%;
	top: 56.1%;
	width: 1.35%;
	height: 2.7%;
}

#frame-113 .neutron-8
{
	background: transparent url('../pics/neutron.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 26.45%;
	top: 48.6%;
	width: 1.35%;
	height: 2.7%;
}

#frame-113 .neutron-9
{
	background: transparent url('../pics/neutron.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 25.1%;
	top: 51.8%;
	width: 1.35%;
	height: 2.7%;
}

#frame-113 .check-button
{
	position: absolute;
	font-size: 1.5vmax;
	padding: 1%;
	color: white;
	width: 16%;
	height: 8%;
	text-align: center;
	left: 5%;
	top: 80%;
	background-image: url(../pics/s13-button-check.png);
	background-size: 100% 100%;
	cursor: pointer;
}

#frame-113 .check-button:hover
{
	left: 3%;
	top: 79%;
	width: 20%;
	height: 10%;
}

#frame-113 .answer
{
	background-image: url(../pics/s13-answer.png);
}

/*FRAME 117*/

#frame-117
{
	background-image: url(../pics/s17-bg.png);
}

#frame-117 .text, #frame-124 .text
{
	color: #bafaff;
	width: 20%;
	height: 50%;
	position: absolute;
	top: 45%;
	left: 79%;
	font-size: 1vmax;
}

#frame-117 .task
{
	background: transparent url('../pics/s17-task.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 8.9%;
	top: 19.7%;
	width: 55.75%;
	height: 7.3%;
	padding: 1%;
	padding-left: 5%;
	font-weight: bold;
	color: white;
	font-size: 1.2vmax;
}

#frame-117 .table
{
	position: absolute;
	left: 15%;
	top: 33%;
	width: 45%;
	height: 65%;
}

#frame-124 .table
{
	position: absolute;
	left: 20%;
	top: 45%;
	width: 45%;
	height: 65%;
}

#frame-117 .table .row, #frame-124 .table .row
{
	position: relative;
	width: 100%;
	height: 12%;
}


#frame-117 .table .data-left, #frame-124 .table .data-left
{
	position: relative;
	width: 22%;
	height: 100%;
	float: left;
	border: 3px solid white;
	padding: 0.5%;
	font-size: 0.9vmax;
	color: white;
	font-weight: bold;
}

#frame-117 .table .data
{
	position: relative;
	width: 39%;
	height: 100%;
	float: left;
	border: 3px solid white;
	padding: 1%;
	font-size: 1vmax;
	color: white;
}

#frame-124 .table .data
{
	position: relative;
	width: 18%;
	height: 100%;
	float: left;
	border: 3px solid white;
	padding: 1%;
	font-size: 1.2vmax;
	font-weight: bold;
	color: white;
}

#frame-117 .table .data input, #frame-124 .table .data input
{
	display: block;
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	border: none;
	color: white;
	background-color: transparent;
	font-size: 1.2vmax;
}

#frame-117 .check-button, #frame-124 .check-button
{
	background: transparent url('../pics/s13-button-check.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 65%;
	top: 80%;
	width: 20%;
	height: 9%;
	color: white;
	padding: 1.5%;
	font-size: 1.3vmax;
}

#frame-117 .check-button:hover, #frame-124 .check-button:hover
{
	left: 64%;
	top: 79%;
	width: 22%;
	height: 12%;
}

/*FRAME 121*/

#frame-121
{
	background-image: url(../pics/s17-bg.png);
}

#frame-121 .text
{
	color: #bafaff;
	width: 20%;
	height: 50%;
	position: absolute;
	top: 45%;
	left: 79%;
	font-size: 1vmax;
}

#frame-121 .text-container
{
	color: #bafaff;
	width: 50%;
	height: 30%;
	position: absolute;
	top: 35%;
	left: 15%;
	font-size: 1.5vmax;
	color: #8ED7AE;
}

#frame-121 .task
{
	background: transparent url('../pics/s17-task.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 8.9%;
	top: 19.7%;
	width: 55.75%;
	height: 7.3%;
	color: white;
	padding: 1%;
	padding-left: 5%;
	font-weight: bold;
	font-size: 1.2vmax;
}

#frame-121 .text-container .basket
{
	display: inline-block;
	position: relative;
	width: 25%;
	height: 1.5vmax;
	border-bottom: 1px dashed white;
	font-size: 1.4vmax;
}

#frame-121 .ball
{
	position: absolute;
	font-size: 1.4vmax;
	color: #2F822C;
}

#frame-121 .ball-1 {top: 60%; left: 50%;} 
#frame-121 .ball-2 {top: 62%; left: 30%;} 
#frame-121 .ball-3 {top: 60%; left: 10%;} 
#frame-121 .ball-4 {top: 50%; left: 50%;} 
#frame-121 .ball-5 {top: 55%; left: 33%;} 
#frame-121 .ball-6 {top: 50%; left: 15%;} 

/*FRAME 124*/

#frame-124
{
	background-image: url(../pics/s24-bg.png);
}

#frame-124 .task
{
	background: transparent url('../pics/s17-task.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 12%;
	top: 22%;
	width: 55.75%;
	height: 7.3%;
	color: white;
	padding: 1%;
	font-size: 1vmax;
	padding-left: 5%;
	font-weight: bold;
}

#frame-124 .kalii
{
	background: transparent url('../pics/kalii.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 5.45%;
	top: 28.5%;
	width: 65.25%;
	height: 51.6%;
}

#frame-124 .natrii
{
	background: transparent url('../pics/natrii.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 4.95%;
	top: 28.5%;
	width: 65.75%;
	height: 51.6%;
}

/*FRAME 127*/

#frame-127
{
	background-image: url(../pics/s27-bg.png);
}

#frame-127 .astronaut-approach
{
	background-image: url(../pics/astranaut_approaching.png);
}

#frame-127 .astronaut-wave
{
	background-image: url(../pics/astronaut_waving.png);
}

#frame-127 .ship-leaving
{
	background-image: url(../pics/ship_leaving.png);
}

/*FACTS*/

.fact
{
	background-image: url(../pics/facts-bg.png);
}

.fact .title
{
	background: transparent url('../pics/area_facts.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 33.45%;
	top: 1.3%;
	width: 25.25%;
	height: 7.7%;
	color: white;
	font-weight: bold;
	padding: 1%;
	padding-left: 5%;
}

.fact .text
{
	position: absolute;
	width: 80%;
	left: 10%;
	top: 15%;
	height: auto;
	padding: 1%;
}

.fact .prev-fact-button, .fact .next-fact-button
{
	position: absolute;
	top: 85%;
	width: 20%;
	height: 10%;
	padding: 1%;
	color: white;
	font-size: 1.5vmax;
}

.fact .prev-fact-button
{
	left: 50%;
	background-image: url(../pics/s0-blue_area.png);
	
}

.fact .prev-fact-button:hover, .fact .next-fact-button:hover
{
	background-image: url(../pics/s0-orange_area.png);
}

.fact .next-fact-button
{
	left: 75%;
	background-image: url(../pics/s0-pink_area.png);
}

.fact .text-1{ font-size: 2.5vmax; }
.fact .text-2{ font-size: 4vmax; }
.fact .text-3{ font-size: 3.5vmax; }
.fact .text-4{ font-size: 3vmax; }
.fact .text-5{ font-size: 1.8vmax; }

/*TEST*/

.test.frame
{
	background-image: url(../pics/facts-bg.png);
}

.test-1.frame .task-bg
{
	background-image: url(../pics/task-1-bg.png);
}

.test-2.frame .task-bg
{
	background-image: url(../pics/task-2-bg.png);
}

.test-3.frame .task-bg
{
	background-image: url(../pics/task-3-bg.png);
}

.test-1.frame .title
{
	width: 70%;
	height: 7%;
	position: absolute;
	color: white;
	font-size: 1.5vmax;
	left: 15%;
	top: 22%;
}

.test-2.frame .title, .test-3.frame .title
{
	width: 70%;
	height: 7%;
	position: absolute;
	color: white;
	font-size: 1.5vmax;
	left: 22%;
	top: 21%;
}

.test.frame .button_check
{
	background: transparent url('../pics/button_check.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 78%;
	top: 84.2%;
	width: 20.35%;
	height: 9.8%;
	color: white;
	padding: 1.5%;
	font-size: 1.5vmax;
	z-index: 2;
}

.test.frame .button_check:hover
{
	background: url('../pics/area_facts.png');
}

.test.frame .ball { z-index: 2; }

.test.frame .area_1, .test.frame .area_2, 
.test.frame .area_3, .test.frame .area_4
{
	font-size: 1.5vmax;
	color: white;
	padding: 1.5%;
}

.test.frame .area_1
{
	background: transparent url('../pics/area_1.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 6.35%;
	top: 36.4%;
	width: 14.6%;
	height: 10.9%;
}

.test.frame .area_2
{
	background: transparent url('../pics/area_2.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 5.7%;
	top: 48.5%;
	width: 11%;
	height: 8.2%;
}

.test.frame .area_3
{
	background: transparent url('../pics/area_3.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 6.9%;
	top: 58.3%;
	width: 13.75%;
	height: 9.40%;
}

.test.frame .area_4
{
	background: transparent url('../pics/area_4.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 6%;
	top: 68.9%;
	width: 13.9%;
	height: 9.39%;
}

.test.frame .basket
{
	width: 20%;
	height: 8%;
	position: absolute;
	z-index: 2;
	padding: 1%;
	color: white;
	font-size: 1.5vmax;
}

.test.frame .basket-1 {left: 56%; top: 37%;}
.test.frame .basket-2 {left: 60%; top: 50%;}
.test.frame .basket-3 {left: 57%; top: 65%;}
.test.frame .basket-4 {left: 42%; top: 85%;}

.test-2.frame .table
{
	width: 56%;
	height: 62%;
	position: absolute;
	left: 36%;
	top: 30%;
}

.test-2.frame .table .row
{
	width: 100%;
	height: 12.5%;
	position: relative;
	float: left;
}

.test-2.frame .table .data-left
{
	width: 23%;
	height: 100%;
	border: 2px solid black;
	float: left;
	padding: 1%;
	font-size: 1vmax;
	color: white;
	font-weight: bold;
	background-color: #A18E77;
}
.test-2.frame .table .data
{
	width: 19.25%;
	height: 100%;
	border: 2px solid black;
	float: left;
	padding: 1%;
	font-size: 1vmax;
	color: white;
	font-weight: bold;
	background-color: #A18E77;
}

.test-2.frame .ball-container
{
	width: 23%;
	height: 59%;
	position: absolute;
	top: 32%;
	left: 4%;
	padding: 1%;
	padding-top: 4%;
}

.test-2.frame .ball-container .ball
{
	width: 32%;
	height: 10%;
	position: relative;
	float: left;
	font-size: 1vmax;
	font-weight: bold;
	color: white;
	text-align: center;
}

.test-3.frame .download:hover,
.test-3.frame .back:hover,
.test-3.frame .x:hover
{
	width: 3%;
	height: 5%;
}

.test-3.frame .download
{
	background: transparent url('../pics/download.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 70.9%;
	top: 40.5%;
	width: 2.44%;
	height: 4.7%;
}

.test-3.frame .back
{
	background: transparent url('../pics/back.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 36.4%;
	top: 40.7%;
	width: 2.6%;
	height: 4.7%;
}

.test-3.frame .x
{
	background: transparent url('../pics/x.png') 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 25.35%;
	top: 41.6%;
	width: 1.75%;
	height: 3.6%;
}

.test-3.frame textarea
{
	border: none;
	background-color: transparent;
	position: absolute;
	width: 53%;
	height: 40%;
	top: 50%;
	left: 23%;
	font-size: 1.2vmax;
	font-weight: bold;
	font-style: italic;
}